venv/
__pycache__/
*.pyc
.env
.ipynb_checkpoints/
.DS_Store
data/raw/
data/raw_local/
data/processed/
# This tells Git not to track virtual environments, temporary Python files, and large raw data folders.